# Виртуальное окружение
venv/
env/
.venv/

# Файлы Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# База данных
db.sqlite3
*.sqlite3

# Логи и временные файлы
*.log
*.tmp
.DS_Store
*.swp
*.swo

# Файлы редакторов
.vscode/
.idea/
*.iml

# Переменные окружения
.env
.env.local
.env.production

# Файлы деплоя
*.pid
*.pid.lock

# Собранная статика и медиа
staticfiles/
media/

# Прочее
coverage/
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json