{% extends 'layout.html'%}

{% block title %} {% endblock %}


{% block body %} 


<div>
    <div class="product-grid">

        {% for product in products %}
        <a style="text-decoration: none; color: black;" href=" {% url 'card' product.slug %}">
        <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="300">
                <h4 style="margin-bottom: 0px;">{{ product.price }}</h4>
                <p style="margin-bottom: -4px;" >{{ product.brand }}</p>
                <p>{{ product.name }}</p>
        
        </div>
        </a>
        {% endfor %}


    </div>
</div>
{% endblock %}